# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Testing
FYP_Backend/test_settings.py

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
venv/
env/
ENV/
.env

# OS
.DS_Store
Thumbs.db
